#Bạn muốn cập nhật cho năm bao nhiêu?
year=2026
lunaYear=Bính Ngọ

#Mẫu câu dùng để tạo nhãn in trên tờ hình nhân
labelSaoHanTemplate=%s tuổi %s (%d t) năm nay gặp vận Sao %s, Hạn %s

#Mẫu câu dùng để tạo nhãn in cho chủ hộ, kẹp hình nhân theo từng hộ
labelHostTemplate=%d>. %s, tuổi %s %dt,\nGồm có %d đệ tử (%d nam, %d nữ) ở %s

#Mẫu câu dùng để viết thông tin chủ hộ cho cột "Nội Gia" trong file "Sổ Ghi Chép"
labelHostTemplateForNotebook=%s, tuổi %s %dt, Gồm có %d đệ tử (%d nam, %d nữ), ở %s

#Mẫu câu dùng để diễn đạt con số cụ thể căn mạng đệ tử vận gặp sao chiếu, hạn thần nào
summaryTitleForGroupSao=*Có %d/%d căn mạng đệ tử trên năm nay vận gặp %s, %s Tôn Thần chư vị cai quản mạng căn

#Debug: In thông tin chi tiết từng người ra log khi kiểm tra (true/false)
debug-printMortalInfo=true
